body{
    background-color: #ffffff

}
h1{
    color: #ffffff;
    text-align: center;
}
p{
    color: white;
}
h6{
    color: black;
}
ul{
    list-style-type: none;
    margin-left: 1000px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    background-color:none;
    overflow: hidden;
}
li{
    display: inline;
    float: left;
    font-size: 25px;
    font-family:sans-serif;
    
    
}
li a{
    background-color:none;
    color: #999a9b;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;

}
li a:hover{
    background-color:#111;
}
p{
    text-align: center;
}
.about{
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    color: white;
    border: 3px double white;
}
.img2{
    margin-left: 75px;
}