ul{
    list-style-type: none;
    margin-left: 1000px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    background-color:none;
    overflow: hidden;
}
li{
    display: inline;
    float: left;
    font-size: 25px;
    font-family:sans-serif;
    
    
}
li a{
    background-color:none;
    color: #999a9b;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;

}
li a:hover{
    background-color:#111;
}
h1{
    text-align: center;
    color: white;
}
p{
    color: white;
}
.text1{
    border: 3px solid white;
    margin-left:775px;
    width: 450px;
    height: 253px;
    margin-top:39px;
    padding: 20px;
    background-color: #4d4f51;
}
img{
    margin-left: 250px;
}
