h1{
    color: #ffffff;
    text-align: center;
    width: auto;
    height: auto;
}
body{
    background-color: #ffffff;
}
p{
    color: black;
}

ul{
    list-style-type: none;
    margin-left: 1000px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    background-color:none;
    overflow: hidden;
}
li{
    display: inline;
    float: left;
    font-size: 20px;
    font-family:sans-serif;
    
    
}
li a{
    background-color:none;
    color: #999a9b;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;

}
li a:hover{
    background-color:#111;
}
